.intTracker {
    height: 100vh;
    background-color: #c6ad7d;
    padding-top: 100px;
    overflow: hidden;
}

.intTracker .newEntry {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    width: 75%;
    margin: 0 auto 25px;
    background-color: #6B5637;
    border-radius: 8px;
}

.intTracker .newEntry .alignmentSelect {
    margin-right: 30px;
    border-radius: 8px;
}

.intTracker .newEntry .alignmentSelect:focus {
    outline: none;
}

.intTracker .newEntry input {
    background-color: #FCF1E0;
    color: #857F77;
    border-radius: 5px;
    border: none;
    padding: 8px;
    resize: none;
    font-family: Marcellus,serif;
    margin-right: 30px;
}

.intTracker .newEntry input:focus {
    outline: none;
}

.intTracker .newEntry .addBtn {
    font-family: Marcellus,serif;
    line-height: 1;
    color: #eed4c1;
    font-size: 16px;
    margin-bottom: 0;
    padding: 8px 15px;
    background-color: #ed3231;
    box-shadow: 2px 2px 20px rgba(0,0,0,.4);
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intTracker .newEntry .clearBtn {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #E3CAB6;
    font-size: 20px;
    cursor: pointer;
}

.intTracker .newEntry .clearBtn span {
    font-size: 14px;
    margin-left: 5px;
}

.intTracker .main-cont {
    width: 530px;
    min-height: 700px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #FCF1E0;
}